<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
  <%= plant.name %>

  <!-- Tags collection -->
  <div class="card-tags">
    <% plant.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
    <%= link_to "+", new_plant_tagging_path(plant) %>
  </div>
  <%= link_to '&times;'.html_safe, plant, method: :delete, class: "card-remove-link" %>
</div>
